@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
   font-size: 10px;
}
.btn {
    width: 24rem;
    height: 5.5rem;
    background: #D7B399;
    border: none;
    font: 400 1.6rem "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn:hover {
    background: #da925f;
    color: #FFFFFF;
}
.title-sm {
    font: 700 3rem "Montserrat", sans-serif;
}
.title-xs {
    font: 300 2.4rem "Montserrat", sans-serif;
}
.text-sm {
    font: 300 1.6rem "Montserrat", sans-serif;
}
.text-normal {
    font: 300 2.1rem "Montserrat", sans-serif;
}

/*HEADER*/

.first-screen {
    background-color: #F9F6F1;
}
.header {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: absolute;
    left: calc(50% - 86px);
    z-index: 1;
}
.logo__name {
    display: inline;
    text-transform: uppercase;
    font: 700 2.4rem/1.5 "Montserrat", sans-serif;
    color: #212121;

}
.logo:hover {
    text-decoration: none;
}
.nav {
    width: 85%;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    margin-right: 25px;
    font: 500 1.4rem "Montserrat", sans-serif;
    color: #212121;  
}

.dropdown-menu { 
    background: #f9f6f1;
    box-shadow: 0 0 52px #e8dada;
    border: none;
 } 
.dropdown-item {
    font-size: 16px;
}
.dropdown-item:hover {
    color: blue;
}


.basket-img {
    width: 30px;
    height: 26.28px;
    margin-right: 20px;
}
.pending-img {
    width: 47.75px;
    height: 17px;
}
.basket-link:hover {
    text-decoration: none;
}

/*WINTER-SELL*/

.winter-sell {
    padding-top: 133px;
    padding-bottom: 7rem;
}

.sale__title {
    font: 400 3rem "Montserrat", sans-serif;
    color: #000000;
    margin-bottom: 3.5rem;
}
.sale__attantion {
    font: 700 5.5rem "Montserrat", sans-serif;
    color: #000000;
    margin-bottom: 5.5rem;
}
li.carousel-indicators__indicator {
    margin-right: 1.5rem;
    margin-left: 0;
    width: 4rem;
    height: 0.7rem;
    background: #CECECE;
    border: none;
}
li.carousel-indicators__indicator:last-of-type {
    margin-right: 0;
}
li.carousel-indicators__indicator:hover {
    background: #D7B399;
}

/*FREE DELIVERY*/

.free-delivery {
    background: #212121;
    padding-top: 8rem;
    padding-bottom: 6.9rem;
    color: #FFFFFF;
}
.free-delivery__row {
    padding: 0;
    margin: 0;
}
.free-delivery__col {
    text-align: center;
}
.free-delivery__title {
    margin-bottom: 2.3rem;
}
.free-delivery__span {
    font-weight: 400;
}

/*COLLECTIONS*/


 .collections {
    background: linear-gradient(to right, #F9F6F1, #F9F6F1 50%, #F4F4F4 51%, #F4F4F4 100%);
  }
  .men-collection,
  .women-collection {
    position: relative;
    padding: 60px 15px 58px;
  }
  .men-collection {
   background: #F9F6F1;
  }
  .women-collection {
    background: #F4F4F4;
  }
  .collections__title {
    margin-bottom: 25px;
    font: 300 24px 'Montserrat', sans-serif;
    color: #000000;
  }
  .collections__title strong {
    font-weight: 500;
  }
  .collections__subtitle {
    margin-bottom: 40px;
    font: 300 16px 'Montserrat', sans-serif;
    color: #000000;
  }
  .collections__btn {
    width: 80px;
    height: 30px;
    
    border: none;
    background: #D7B399;
    
    color: #fff;
    font: 300 24px 'Montserrat', 'Roboto';
  }
  .collections__btn:hover {
    background: #da925f;
  }
  .collections__img {
    display: block;
    width: 190px;
    height: 171px;
    
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  /*CATEGORIES*/

  .categories__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .category {
    position: relative;
    width: 277px;
    height: 236px;
  }
  .category:hover {
    box-shadow: inset 0 0 70px 0 #E6E4E3;
    cursor: pointer;
  }
  .category:nth-child(odd) {
    background: #F4F4F4 url(src/images/category_gray.png);
  }
  .category:nth-child(even) {
    background: #F9F6F1 url(src/images/category_beige.png);
  }
  .category__name {
    position: absolute;
    left: 30px;
    bottom: 24px;
    
    font: 300 21px 'Montserrat', sans-serif;
    color: #000000;
  }
  .category__name:hover {
  /*   text-shadow: 0 0 1px gray; */
    color: #565656;
    text-decoration: none;
    cursor: pointer;
  }
  

  /*NEW MODELS*/

  section.new-models {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-models__title {
    margin-bottom: 100px;
    
    text-transform: uppercase;
    font: 700 36px 'Montserrat', sans-serif;
    color: #212121;
  }
  div.new-models__container {
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .new-models__item {
    width: 255px;
    height: 350px;
    padding: 22px 22px 25px;

    border: none;
    background: url(src/images/top_left_corner.png) top left no-repeat,
                url(src/images/top_right_corner.png) top right no-repeat,
                url(src/images/bottom_left_corner.png) bottom left no-repeat,
                url(src/images/bottom_right_corner.png) bottom right no-repeat;
  }
  .new-models__item:hover {
    box-shadow: 0 0 25px rgb(233, 233, 233);
    cursor: pointer;
  }
  .card-img-top {
    width: 205px;
    height: 211px;
   
    background: url(src/images/new_models.png);
  }
  .card-title {
    width: 112px;
    font: 600 14px 'Montserrat', sans-serif;
    text-align: center;
    color: #000000;
  }
  .card-text {
    font: 700 18px 'Montserrat', sans-serif;
    color: #D7B399;
  }
  .new-models__btn {
    width: 220px;
    height: 55px;
    border: none;
    background: #D7B399;
    
    font:  400 16px 'Montserrat', sans-serif;
    color: #FFFFFF;
  }
  .new-models__btn:hover {
    background: #da925f;
  }

  /*SUBSCRIBE*/

  .subscribe {
    padding: 70px 0;
    background: #212121;
  }
  .subscribe__title {
    font: 700 30px 'Montserrat', sans-serif;
    color: #FFFFFF;
  }
  .subscribe__form {
    display: flex;
  }
  input.subscribe__email {
    width: 255px;
    margin-right: 25px;
    padding: 13px 20px 12px;
    background: #F9F6F1;
    border: none;
    
    font: 400 14px 'Montserrat', sans-serif;
    color: #000 !important;
  }
  .subscribe__email:focus {
    outline: none;
  }
  .subscribe__email::placeholder {
    color: #8D8D8D;
    font: 300 12px 'Montserrat', sans-serif;
  
  }
  .subscribe__btn {
    width: 185px;
    height: 40px;
    border: none;
    background: #D7B399;
    
    font: 500 14px 'Montserrat', sans-serif;
    color: #FFFFFF;
  }
  .subscribe__btn:hover {
    background: #da925f;
  }

  /*DISCOUNTS*/

  /*Переименовать все классы в этой секции!!!!!!!!!!!!!!!!!!!*/

section.discounts{
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discounts__title {
  margin-bottom: 100px;
  
  text-transform: uppercase;
  font: 700 36px 'Montserrat', sans-serif;
  color: #212121;
}
div.discounts__container {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.discounts__item {
  width: 255px;
  height: 350px;
  padding: 22px 22px 25px;
  border: none;
  background: url(src/images/top_left_corner.png) top left no-repeat,
                url(src/images/top_right_corner.png) top right no-repeat,
                url(src/images/bottom_left_corner.png) bottom left no-repeat,
                url(src/images/bottom_right_corner.png) bottom right no-repeat;
  }
  .discounts__item:hover {
    box-shadow: 0 0 25px rgb(233, 233, 233);
    cursor: pointer;
}

.discounts__btn {
  width: 220px;
  height: 55px;
  border: none;
  background: #D7B399;
  
  font:  400 16px 'Montserrat', sans-serif;
  color: #FFFFFF;
}
.discounts__btn:hover {
  background: #da925f;
}